<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate -f C:\Users\Dr. M Rama Prasad\Desktop\SE_lab\MultiModule\pom6054782861062842757.xml"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="package=org.MultiModuleChild2"/>
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="groupId=KMIT"/>
        <listEntry value="artifactId=MultiModuleChild2"/>
        <listEntry value="outputDirectory=C:\Users\Dr. M Rama Prasad\Desktop\SE_lab\MultiModule"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Dr. M Rama Prasad\Desktop\SE_lab\MultiModule"/>
</launchConfiguration>
